@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Importing the typefaces */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #101010;
    color: #fafafa;
    font-family: "@Satoshi", sans-serif;
    font-size: 24px;
}

/* navigation menu styles */
header {
    display: flex;
    align-items: center;
    padding: 16px 64px;
    border-bottom: 1px solid #fafafa;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container img {
    width: 248px;
}
.nav-links li {
    display: inline;
    margin: 0 48px;
}
.nav-links li a {
    position: relative;
    text-decoration: none;
    color: #fafafa;
}
.nav-links li a::after {
    background-color: #fff;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s ease-in-out;
}
.nav-links li a:hover::after {
    width: 100%;
}
.nav-links li a:active {
    color: #FFDDB7; 
}

/* main content styles */
main {
    height: 608px;
    display: flex;
    flex-direction: column;
    padding: 56px 80px;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 1088px;
    height: auto;
}
.main-content h1 {
    font-family: "Bebas Neue";
    font-size: 140px;
    letter-spacing: 16px;
}
.main-content p {
    line-height: 160%;
}
hr {
    margin-bottom: 16px;
}

/* social media links styles */
.social-links {
    font-size: 28px;
    margin-top: auto;
    margin-left: auto;
}
.social-links li {
    display: inline;
    margin: 0 32px;
}
.social-links li a {
    color: #fafafa; 
}
.social-links li a:active {
    color: #FFDDB7; 
}

#projects-section h2 {
    font-size: 4rem;
    margin: 0px 80px 32px 80px;
}

.content-wrapper {
    display: flex;
    
}
.card-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 16px 64px 80px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

.card-content p {
    margin-top: 16px;
    margin-right: 80px;
}

.card-wrapper h3 {
    font-size: 5rem;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 24px;
}

.tag-wrapper {
    width: 600px;
    display: flex;
}

.tag-card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid #fafafa;
    border-radius: 40px;
    padding: 16px 16px;
    margin: 0 8px;
    cursor: pointer;
}

#projects-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 1px solid #fafafa;
    border-radius: 40px;
    padding: 16px 32px;
    margin: 64px auto;
    cursor: pointer;
}

#about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}
.heading-content h2 {
    font-size: 6rem;
}
#about-section p {
    width: 600px;
}

#about-section aside {
    margin-right: 80px;
}